/.idea
.idea/workspace.xml
.idea/inspectionProfiles
.idea/misc.xml
.idea/modules.xml
.idea/myqtdesigner.iml
.idea/vcs.xml

__pycache__/
behinesazan/gas/station/software/controller/build/
behinesazan/gas/station/software/controller/dist/
behinesazan/gas/station/software/view/Result/result.pdf
